<ion-footer collapse="fade" class="no-border">
  <ion-toolbar>
      <ion-tabs>
          <ion-tab-bar slot="bottom">
              <ion-tab-button routerLinkActive="activeRoute" routerLink="/wordle">
                <ion-icon name="apps"></ion-icon>
                  Applications
              </ion-tab-button>
              <ion-tab-button routerLinkActive="activeRoute" routerLink="/dictionary">
                  <ion-icon name="book"></ion-icon>
                  Dictionary
              </ion-tab-button>
              <ion-tab-button routerLinkActive="activeRoute"  routerLink="/settings" >
                  <ion-icon name="settings"></ion-icon>
                  Settings
              </ion-tab-button>
              <ion-tab-button routerLinkActive="activeRoute" routerLink="/account">
                  <ion-icon name="person-circle"></ion-icon>
                  Account
              </ion-tab-button>
          </ion-tab-bar>
      </ion-tabs>
  </ion-toolbar>
</ion-footer>