<ion-content class="ion-padding">
  <div class="master-container">
    <div class="logo-container">
      <div>
        <img class="ftm-logo-img" src="assets/logos/First Touch Ministry Logo - Full -Dark.png">
      </div>
      <div style="margin-top: 40px;">
        <ion-text>Login to your account</ion-text>
      </div>
    </div>
    <div class="fields-container">
      <ion-item  class="ion-no-padding" >
        <ion-input type="text" label="Username" labelPlacement="floating" placeholder=""></ion-input>
      </ion-item>
      <ion-item  class="ion-no-padding">
        <ion-input type="password" label="Password" labelPlacement="floating" placeholder="">
          <!-- <ion-input-password-toggle slot="end"></ion-input-password-toggle> -->
        </ion-input>
        
      </ion-item>
      <p style="text-align: right;" ><ion-text color="primary"><u>Forgot Password?</u></ion-text></p>
      
    </div>
    <div class="action-container">
      <ion-button expand="block">Login</ion-button>
      <p>Don't have an account?&nbsp;<ion-text color="primary"><u>Register</u></ion-text></p>
    </div>
  </div>
  
  
</ion-content>