.master-container{
    margin-top: 100px;
}
.logo-container{
    text-align: center;
}
.ftm-logo-img{
    width: 328px;
    height: 98;
}
.fields-container{
    padding: 30px;
}

.action-container{
    text-align: center;
    margin-top: -30px;   
    padding-left: 30px;
    padding-right: 30px;
    //padding: 30px;
}